---
layout: default
---
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="hero-box">
  <div class="hero-inner min-padded">
    <a href="/">
      <h3 class="heavy pull-left">&laquo; mattmacy.github.io</h3>
    </a>
    <h3 class="maroon contact-me pull-right">
      <!-- All on one line seems crazy but it prevents small form factors trying to fit them over multiple lines -->
      <a href="https://www.twitter.com/Mat_Macy/" alt="Twitter"><i class="icon-twitter"></i></a><a href="https://github.com/mattmacy/" alt="GitHub"><i class="icon-github"></i></a><a href="http://linkedin.com/in/matthew-macy-2493a21" alt="LinkedIn"><i class="icon-linkedin"></i></a><a href="mailto:mat.macy@gmail.com" alt="Email"><i class="icon-envelope-alt"></i></a>
    </h3>
  </div>
</div>
<div class="container">
      <div class="row">
      <div class="span8 content-wrapper ">
        <div class="content-box">
        {{content}}
	      </div>
	      </div>
</div>



<div class="post">
  {{ content }}
</div>
